// Colors

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


$primary: #3b7be2;
$success: #44be73;
$info: #479BD1;
$warning: #faab35;
$danger: #D62739;

$gray-light: #e7e5e5;

$font-size-base: 1.2rem;